body {
    font-family: roboto;
}

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
.real-header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
}

.links {
    display: flex;
    gap: 18px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}